* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item {
    max-height: 40vh;
    overflow-y: hidden;
}